
/********* Index Page *********/

/*main page title*/
.index_title{
    width: 40%;
    margin: 0 auto;
    font-size: 35px;
}

.canvas_box{
    border: 2px solid red;
    width: 40%;
    display: inline-block;
}

#canvas_pic{
    border: 1px solid #ccc;
    display: inline-block;
}

#canvas_result{
    border: 1px solid #ccc;
}

#clear_btn{
    width: 80px;
    height: 30px;
}

.canvas_title{
    font-size: 22px;
    
}

