<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EASY PIPO</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">

    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- local js & css file import start -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diy_styles.css') }}">
</head>

<body>
    {% include "menu_template.html" %}

    <h1 class="sub_title" >Color Setting</h1>
</body>
</html>