<div id="eng_page_1" class="section" >
    {% include "menu_template.html" %}
    <div class="main">
        <div id="eng_top_menu" class="top_menu">
            
            
            <label class="switch-button" >
                <span class="kor">한국어</span>
                <span class="eng"> English</span>
                <input type="checkbox" onclick="lang()">
                <span class="onoff-switch"></span>               
            </label>
            

            <span class="early">
                Easy Pipo is a platform that automatically changes the image into a pipo painting canvas
            </span>
        </div>
        <div class="ex_image_early">
            <img src="../static/how_to_use_image/1.png" width="576" height="324">
        </div>
        <div class="ex_text_early">
            <ul>
                <li>Open Image File.</li>
                <li>File extension is only JPG and PNG</li>
                <li>Limit the Image file size to 8MB</li>
                <li>Click the GO button to start the operation</li>
            </ul>
        </div>
    </div>

</div>