<div id='eng_page_2' class='section'>
    <div class='ex_image'>
        <img src='../static/how_to_use_image/2.png' width='576' height='324'>
    </div>

    <div class='ex_text'>
        <ul>
            <li>The original image is displayed</li>
            <li>The work progress section is displayed on the left</li>
            <li>Download the image through the 'Download' button on the right</li>
            <li>Enter the number of colors you want to reduce (Defaults 16, 24, 32)</li>
            <li>Click the button on the bottom right of the picture if you want to 
                change the specified color</li>
            <li>Click the 'Reduce Color' button to reduce the color in the image</li>
            <li>Estimated time required 3 minutes</li>
        </ul>
    </div>

    <div class='ex_image'>
        <img src='../static/how_to_use_image/3.png' width='576' height='324'>
    </div>

    <div class='ex_text'>
        <ul>
            <li>3 types of color simplification images appear.</li>
            <li>Enlarge the picture through the magnifying glass button at the bottom</li>
            <li>Download the image through the “Download” button at the top</li>
            <li>Click on the image to select it</li>
            <li>Click the “Draw Line” button to draw lines based on the color
                boundary</li>
            <li>Estimated time required 1 minutes</li>
        </ul>
    </div>
</div>