<div id='eng_page_3' class='section' >
    <div class='ex_image'>
        <img src='../static/how_to_use_image/4.png' width='576' height='324'>
    </div>

    <div class='ex_text'>
        <ul>
            <li>Lines are drawn along the color boundary in the simplified image</li>
            <li>Download the image through the “Download” button on the right</li>
            <li>The 'Numbering' button allows you to write a color number inside
                the line</li>
            <li>Estimated time required 3 minutes</li>
        </ul>
    </div>

    <div class='ex_image'>
        <img src='../static/how_to_use_image/5.png' width='576' height='324'>
    </div>

    <div class='ex_text'>
        <ul>
            <li>The resulting image appears with a color number</li>
            <li>If you want to insert a color label, click the 'Input Color Label'
                button at the bottom</li>
            <li>The final image can be downloaded through the 'Download'
                button below</li>
        </ul>
    </div>
</div>