<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>EASY PIPO</title>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">

    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/js/fullpage.js"></script>

    <!-- local js & css file import start -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/diy_styles.css') }}">
    <link href="../static/css/how_to_use.css" rel="stylesheet" type="text/css">
</head>

<body>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#fullpage').fullpage({
                licenseKey: 'OPEN-SOURCE-GPLV3-LICENSE',
                autoScrolling: true,
                scrollHorizontally: true
            });
        });
    </script>

    <div id="main">
        <span style="float:left; margin-left: 2%; margin-top:2%;">사용방법</span>
        <label class="switch-button">
            <input type="checkbox"/>
            <span class="onoff-switch"></span>
        </label>
        <div id="fullpage">
            <h1>이지피포는 자동으로 실제 이미지를 피포 페인팅 도안으로 바꿔주는 플랫폼입니다.</h1>
        </div>
    </div>
    
</body>
</html>