<!doctype html>
<html>
<head>
    <title>DIY Maker</title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='diy_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ url_for('static', filename='diy_func.js') }}"></script>
</head>

<body > <!--onload="image_onCanvas();"-->
    <h1 class="index_title">
        Image to DIY Picture Auto creater
    </h1>

    <div class="canvas_box">
      <span class="canvas_title">Original Picture</span>
      <canvas class="canvas_size" id="canvas_pic" width="600" height="500"></canvas>

      <input type="button" id="clear_btn" value="Clear" onclick="clearit()">
    </div>

    <div class="canvas_box">
      <span class="canvas_title">Line Drawing</span>
      <canvas class="canvas_size" id="canvas_result" width="600" height="500"></canvas>
      <input type="button" id="clear_btn_result" value="Clear" onclick="">
    </div>
    
<script>


  var el = document.getElementById('canvas_pic');
  var ctx = el.getContext('2d');
  
  //ctx.fillStyle = "rgba('255, 0, 0, 0.1')";
  
  ctx.fillStyle = "red";
  ctx.strokeStyle = "red";
  ctx.globalAlpha = "0.05";
  ctx.lineWidth = 0;
  ctx.globalCompositeOperation = "source-over"; 
 
  var isDrawing, lastPoint;
  
  el.onmousedown = function(e) {
    isDrawing = true;
    lastPoint = { x: e.clientX, y: e.clientY };
  };
  
  el.onmousemove = function(e) {
    if (!isDrawing) return;
    
    var currentPoint = { x: e.clientX, y: e.clientY };
    var dist = distanceBetween(lastPoint, currentPoint);
    var angle = angleBetween(lastPoint, currentPoint);
    
    var x_value = 0; // x좌표
    var y_value = -100; // y좌표
    var circle_r = 8; // 반지름

    for (var i = 0; i < dist; i+=3) {
      x = lastPoint.x + (Math.sin(angle) * i) - 25;
      y = lastPoint.y + (Math.cos(angle) * i) - 25;
      ctx.beginPath();
      // x좌표, y좌표, 반지름
      ctx.arc(x+x_value, y+y_value, circle_r, false, Math.PI * 2, false);
      ctx.closePath();
      ctx.fill();
      ctx.stroke();
      console.log("x:"+ (x+x_value-circle_r));
      console.log("y:"+ (y+y_value-circle_r));
      console.log("size:"+ (circle_r*2));
    }
    
    lastPoint = currentPoint;
  };
  
  el.onmouseup = function() {
    isDrawing = false;
  };



var result_canvas = document.getElementById('canvas_result');
var result_canvas = document.getElementById('canvas_pic');
var result_ctx = result_canvas.getContext('2d');
var image_path = '../static/test-image/aa.jpg';

make_base(image_path);


  // diy makers Javascript
  function clearit() {
      ctx.clearRect(0,0, 1000, 1000);
      make_base(image_path);
  }


function make_base(path) {
  image = new Image();
  image.src = path
  image.onload = function(){
    //drawImage(이미지객체, 
    //    이미지의 왼위 부분x, 이미지의 왼위 부분y, 이미지의 원하는 가로크기, 
    //  이미지의 원하는 세로크기,
    //   사각형 부분x, 사각형 부분y, 가로크기, 세로크기)
    result_ctx.drawImage(image, 0, 0, 600, 500);
  }
}

</script>
</body>
</html>