<div id='page_1' class='section' style='width: 100vw; height: 100wh;'>
    {% include 'menu_template.html' %}
    <div class='main'>
        <div class='top_menu'>
            <label class='switch-button' >
                <span class='kor'>한국어</span>
                <span class='eng'> English</span>
                <input type='checkbox' onclick='lang()' id='btn'>
                <span class='onoff-switch'></span>               
            </label>
            

            <span class='early'>
                이지피포는 자동으로 실제 이미지를 피포 페인팅 도안으로 바꿔주는 플랫폼입니다.
            </span>
        </div>
        <div class='ex_image_early'>
            <img src='../static/how_to_use_image/1.png' width='576' height='324'>
        </div>
        <div class='ex_text_early'>
            <ul>
                <li>이미지 파일을 열어주세요.</li>
                <li>jpg, png 확장자 파일만 가능합니다.</li>
                <li>이미지 파일 크기는 8MB로 제한합니다.</li>
                <li>Go 버튼을 누르면 작업이 시작됩니다.</li>
            </ul>
        </div>
    </div>

</div>