<header>
    <div onclick="location.href='/'">
        <img id='logo_img' src="{{ url_for('static', filename='icon/logo.png') }}">
        <span class="index_title">EASY PIPO</span>
    </div>

    <div class="top_menu_box">
        <div class="top_menu_item" onclick='location.href="/whatIsPipo"'>What is Pipo Painting?</div>
        <div class="top_menu_item" onclick='location.href="/howToUse"'>How to Use?</div>
        <div class="top_menu_item" onclick='location.href="/ColorSetting"'>My Color Setting</div>
    </div>
</header>