/********* Index Page *********/
*{
    box-sizing: border-box;
    font-family:'Malgun Gothic';
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-spacing: 0;
}
body{
    width: 100vw;
    height: 95vh;
    text-align: center;
}

/*main page title*/
.index_title{
    width: fit-content;
    margin: 30px auto;
    font-size: 35px;
    box-shadow: 0 2px 0 blue;
}

.canvas_box{
    position: relative;
    display: inline-block;
    width: 650px;
    /* border: 2px solid red; */
    vertical-align: top;
}

.canvas_title{
    margin: 10px auto;
    font-size: 22px;
}

#line_detail_box{
    height: 40px;
}

#brush_slider_box{
    float: left;
    margin-left: 7px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#brush_size{
    width: 10px;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}


#eraser_slider_box{
    float: right;
    margin-left: 7px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
#eraser_size{
    width: 10px;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
}

#canvas_pic{
    display: inline-block;
    float: right;
    width: 600px;
    border: 1px solid #ccc;
    cursor: none;
}

#canvas_result{
    float: left;
    width: 600px;
    height: auto;
    border: 1px solid #ccc;
}

.img_url{
    position: absolute;
    left: 50px;
    bottom: 0;
    font-weight: bold;
}
.btn{
    width: 80px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
#pic_clear_btn{
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
#undo_btn{
    float: left;
    font-size: 24px;
    line-height: 6px;
    cursor: pointer;
}
#result_clear_btn{
    float: right;
    cursor: pointer;
}
#result_eraser{
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
    line-height: 6px;
    cursor: pointer;
}

.convert_box{
    display: inline-block;
    width: 160px;
    vertical-align: top;
}
.convert_box p{
    margin-top: 130px;
    font-size: 100px;
    color: blue;
    cursor: pointer;
}


.cursor {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background-color: red;
    opacity: .3;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width .3s, height .3s, opacity .3s;
  }