/********* Index Page *********/
@font-face{
    font-family: pangolin;
    src: url('/static/font/Pangolin-Regular.ttf');
}
@font-face{
    font-family: indieflower;
    src: url('/static/font/IndieFlower-Regular.ttf');
}
@font-face{
    font-family: corbellight;
    src: url('/static/font/corbel-light.ttf');
}
@font-face{
    font-family: arialblack;
    src: url('/static/font/ariblk.ttf');
}



*{
    box-sizing: border-box;
    font-family:'Malgun Gothic';
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-spacing: 0;
    transition: all 1000ms;
    -webkit-transition: all 1000ms;
}
body{
    width: 100vw;
    height: 95vh;
    text-align: center;
}











/* Form Progress */
.vprogress {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
  }
  .vprogress .bar {
    display: block;
   
  }
  .vprogress .circle{
    display: block;
    margin-bottom: 0px;
     background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
  }
  .vprogress .bar {
    position: relative;
    width: 6px;
    height: 52px;
    top: 0px;
    margin-left: 17px;
    margin-right: -5px;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .vprogress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
  }
  .vprogress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: 45px;
    position: relative;
    top: -28px;
  }
  
  /* Done / Active */
  .vprogress .bar.done,
  .vprogress .circle.done {
    background: green;
  }
  .vprogress .bar.failed,
  .vprogress .circle.failed {
    background: red;
  }
  .vprogress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
  }
  .vprogress .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .vprogress .circle.done .title {
    color: #444;
  }
  .vprogress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
  }
  .vprogress .circle.active .title {
    color: #0c95be;
  }






















/*main page title*/
header{
    position: relative;
    height: 150px;
    padding-top: 60px;
    border-bottom: solid 2px #7c7c7c;
    background: rgb(255, 245, 245);
}

#logo_img{
    position: absolute;
    display: inline-block;
    height: 50px;
    left: 50px;
    bottom: 10px;
    vertical-align: middle;
    border: 1px solid black;
    cursor: pointer;
}

.index_title{
    position: absolute;
    display: inline-block;
    width: fit-content;
    height: 50px;
    line-height: 50px;
    left: 120px;
    bottom: 10px;
    vertical-align: middle;
    font-family: pangolin;
    font-size: 32pt;
    font-weight: bold;
    cursor: pointer;
    /* box-shadow: 0 2px 0 blue; */
}
.top_menu_box{
    position: absolute;
    display: inline-block;
    right: 0;
    bottom: 15px;
}
.top_menu_item{
    display: inline-block;
    margin: 0 20px;
    font-family: pangolin;
    font-weight: bold;
    font-size: 14pt;
    cursor: pointer;
}

.sub_title{
    margin: 70px;
    font-family: indieflower;
    font-size: 42pt;
    font-weight: bold;
}





.zone {
    position: relative;
    margin: auto;
    width: 750px;
    height: fit-content;
    border: 2px solid rgb(237, 125, 49);
    border-radius: 25px;
    text-align:center;
    z-index: 20;
    transition: all 0.3s ease-out;
    box-shadow: 0 0 0 1px rgba(255,255,255,.05),inset 0 0 .25em 0 rgba(0,0,0,.25);
    cursor: pointer;
}
.zone #dropZ{
    position: relative;
    height: 100%;
}
.zone .btnCompression .active{
    background: rgb(237, 125, 49);
    color:white;
}
.zone i{
    text-align: center;
    font-size: 10em;  
    color:#fff;
    margin-top: 50px;
}
.zone .selectFile {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    margin-right: 60px;
}
.zone .upload_text{
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin: 0 40px;
    vertical-align: top;
    font-size: 24pt;
    font-family: corbellight;
    font-weight: bold;
}
.zone label input {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    border-radius: 5px;
    cursor: pointer;  
}
.zone label {
    position: absolute;
    display: inline-block;
    width: 150px;
    height: 40px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(237, 125, 49);
    color: white;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    white-space: nowrap;
    box-shadow: 0 1px 1px gray;
    cursor: pointer;
}

.zone input[type=file] {
    opacity: 0;
}
.zone .in {
    color:white;
    border-color:white;
    background: radial-gradient(ellipse at center,rgb(237, 125, 49) 0,rgb(237, 125, 49) 100%);
}
.zone .in i {          
    color:#fff;
}
.zone .in label {
    background: #fff;
    color: rgb(237, 125, 49);
}
.zone.hover {
    color:gray;
    border-color:white;
    background:#fff;
    border:5px dashed gray;
}
.zone.hover i {          
    color:rgb(237, 125, 49);
}
.zone.hover label {
    background: #fff;
    color:rgb(237, 125, 49);
}
.zone.fade {
    transition: all 0.3s ease-out;
    opacity: 1;
}


.fileBox{
    position: relative;
    width: 560px;
    /* height: 300px; */
    height: fit-height;
    margin: 30px auto;
    padding: 15px;
    
    border: 2px solid rgb(237, 125, 49);

    border-radius: 20px;
    background: white;
    font-size: 12px;
    font-weight: bold;
    color: rgb(237, 125, 49);

    box-shadow: 3px 3px #a8a8a8;
}
.fileBox span:not(.x_btn):not(.filename_text){
    position: absolute;
    text-align: left;
    left: 50%;
    top: 50%;
    transform: translate(-40%, -50%);
}
.fileBox img{
    display: inline-block;
    width: 100px;
    margin-right: 20px;
    left: 0;
    /* height: 85%; */
}
.x_btn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.filename_text{
    display: inline-block;
    width: 480px;
    margin: auto;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    overflow:hidden;
}





.go_btn{
    width: 100px;
    height: 100px;
    border: 5px solid rgba(255, 144, 69);
    border-radius: 50px;
    line-height: 90px;
    font-size: 20pt;
    font-family: arialblack;
    margin: 50px auto;
    cursor: pointer;
}
.go_btn:hover{
    background: rgb(237, 125, 49);
    color: white;
}

.download_btn{
    height: 20px;
    vertical-align: top;
}
img + .download_btn{
    vertical-align: middle;
}
.download_btn img{
    vertical-align: middle;
}

.download_btn_img{
    width: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.view_image_box{
    margin: 50px auto;
}

.view_image{
    display: inline-block;
    width: 750px;
}
.view_image_reduce{
    display: inline-block;
    width: 245px;
    height: auto;
    overflow:auto;
}


#baguetteBox-overlay .full-image img{
    max-width: 70%;
    max-height: 70%;
}


.btn_box{
    width: 200px;
    height: 50px;
    line-height: 40px;
    margin: 0 auto;
    border: 2px solid rgb(237, 125, 49);
    border-radius: 10px;
    font-size: 16pt;
    text-align: center;
    cursor: pointer;
}
.btn_box:hover{
    background: rgb(237, 125, 49);
    color: white;
}

.a_reduce_input{
    margin: 0 150px;
}

#reduce_box{
    position: relative;
    width: 750px;
    height: 70px;
    margin: 15px auto;
}
#reduce_box table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
#reduce_box td{
    /* border: 1px solid black; */
    width: 250px;
}
.cluster_number_input{
    position: relative;
    display: inline-block;
    width: 80px;
    border: 2px solid rgb(237, 125, 49);
    text-align: center;
    font-size: 18px;
}

#reduce_img_privew_table{
    width: 800px;
    margin: 0 auto;
}
#reduce_img_privew_table .download_btn_img,.preview_btn{
    width: 20px;
    cursor: pointer;
}
.color_text{
    display: inline-block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.color_text + .download_btn_img,.preview_btn{
    width: 20px;
    cursor: pointer;
}

#mycolor_check + label{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(237, 125, 49);
    cursor: pointer;
}
#mycolor_check:checked + label{
    background: blue;
}
#mycolor_check{
    display: none;
}

#reduce_img_box input{
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
.reduce_img_select{
    display:none;
    visibility:hidden;
}
.reduce_img_select:checked + label{
    border: 3px solid rgb(237, 125, 49);
}

.reduce_radio_btn{
    cursor:pointer;
    background-size:cover;
    background-repeat:no-repeat;
    overflow: auto;
    
    display:inline-block;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
       -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
            filter: brightness(1.8) grayscale(1) opacity(.7);
}
.reduce_radio_btn{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
         filter: brightness(1.2) grayscale(.5) opacity(.9);
}

#input_color_label_btn{
    display: inline-block;
}